<div class="service_list_frame">
  <div class="service_list_inner_ctrl">
    <div class="navigation_msg">
      STEP 1. &nbsp;Fix basic things.
    </div>
  </div>
  <div class="service_list_inner_box">
    <div class="service_item_frame">
      <div class="service_item_left">
        <div class="service_item_title">
          D N S
        </div>
        <div class="service_item_desc">
          Domain Name System
        </div>
      </div>
      <div class="service_item_right">
        <i class="fa fa-arrows" aria-hidden="true"></i>
      </div>
    </div>
    <div class="service_item_frame">
      foo
    </div>
    <div class="service_item_frame">
      foo
    </div>
  </div>
  <div class="service_list_inner_box">
    <div class="service_item_frame">
      foo
    </div>
    <div class="service_item_frame">
      foo
    </div>
    <div class="service_item_frame">
      foo
    </div>
  </div>
  <div class="service_list_inner_box">
    <div class="service_item_frame">
      foo
    </div>
    <div class="service_item_frame">
      foo
    </div>
    <div class="service_item_frame">
      foo
    </div>
  </div>
</div>
