.greeting_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting_cambus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.greeting_img {
  background: url(../assets/images/before-login-content001.png);
  width: 950px;
  height: 630px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-flow: column nowrap;
}

.greeting_msg_welcom {
  color: #093a67;
  font-size: 35px;
  font-family: 'Ubuntu';
  margin-top: 70px;
}

.greeting_msg_big {
  color: #093a67;
  font-size: 80px;
  display: flex;
  font-family: 'Ubuntu';
}

.greeting_msg {
  color: #093a67;
  font-size: 35px;
  font-family: 'Ubuntu';
}

.release_report {
  width: 950px;
  height: 270px;
  background-color: beige;
  margin-top: 5px;
}
