@font-face {
   font-family: 'Open Sans';
   src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

.greeting_frame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.greeting_cambus {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
}

.greeting_img {
  background: url(../../assets/images/ferriswheel001.JPG);
  width: 1000px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content:flex-start;
  flex-flow: column nowrap;
}

.greeting_msg_big {
  color: white;
  font-size: 80px;
  width: 900px;
  display: flex;
  margin-left: 70px;
  margin-bottom: 105px;
  margin-top: 30px;
}

.greeting_msg {
  color: white;
  font-size: 35px;
}

.release_report {
  width: 950px;
  height: 270px;
  background-color: beige;
  margin-top: 5px;
}
