.siteHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2fbfb;
  /*font-family: 'PT Sans', sans-serif;*/
  font-family: 'Ubuntu', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
}

.siteHeader__section {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.siteHeader__item {
  padding: 7px 15px;
  font-size: 13px;
}

.siteHeader__item + .siteHeader__item {
  margin-left: 5px;
}

.siteHeader__item.is-site-header-item-selected {
  color: #FFFFFF;
  background-color: #415F69;
  border-radius: 4px;
}

.siteHeaderLogo {
  font-size: 20px;
  line-height: 0;
  color: #415F69;
  margin-bottom: 2px;
}

.siteHeaderLink {
  cursor: default;
  color: black;
}

.siteHeaderLink:hover {
  color: skyblue;
}

.login {
  text-decoration: none;
  cursor: default;
  color: black;
}

.login:hover {
  color: skyblue;
}

.modal-content01 {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  overflow: hidden;
}

.makeithidden {
  display: none;
  overflow: hidden;
}
.makeitvisible {
  display: flex;
  overflow: hidden;
}
