<div class="basic_modal_frame">
  <div class="login_inner_top">
    <div class="login_inner_top_left">
      <i class="fa fa-sign-in" aria-hidden="true"></i>
    </div>
    <div class="login_inner_top_right">
      <div class="login_inner_top_right_child">
        Input Your Rakuten Account
      </div>
      <div class="login_inner_top_right_child"></div>
    </div>
  </div>
  <div class="login_inner_middle">
    <div class="loginInput">
      <span class="loginInput_label">
        <i class="fa fa-envelope-o loginInput_icon_mail" aria-hidden="true"></i>
      </span>
      <input class="loginInput_field" placeholder="Rakuten E-mail Address">
    </div>
    <div class="loginInput">
      <span class="loginInput_label">
        <i class="fa fa-lock loginInput_icon_pass" aria-hidden="true"></i>
      </span>
      <input class="loginInput_field" placeholder="Password" type="password">
    </div>
    <div class="login_enter">
      <div></div>
      <div class="login_enter_btn">
        Enter
      </div>
    </div>
  </div>
  <div class="login_inner_bottom">
    <div class="login_left_of_close"></div>
    <div class="close-content01">CLOSE</div>
  </div>
</div>
