.basic_modal_frame {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
  background-color: white;
  font-size: 15px;
  align-items: center;
  width: 350px;
  height: 400px;
  justify-content: space-between;
  margin: 0;
}

.login_inner_top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  margin: 0;
  width: 340px;
  height: 70px;
  color: #1a065e;
}

.login_inner_top_right {
  font-family: 'Open Sans Light', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
  padding: 1px;
}

.login_inner_top_left {
  height: inherit;
  font-size: 70px;
  padding: 3px;
  margin-left: 20px;
  margin-right: 20px;
}

.login_inner_middle {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: -80px;
}

.login_inner_bottom {
  display: flex;
  border-top: 1px solid #1a065e;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  width: 340px;
  height: 30px;
}

.login_left_of_close {
  display: flex;
}

.close-content01 {
  display: flex;
  cursor: default;
  margin-right: 3px;
  padding: 3px;
  font-family: 'Open Sans Light', sans-serif;
  color: #6d5780;
  font-size: 12px;
}

.close-content01:hover {
  color: red;
}

.loginInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  border-radius: 4px;
  border:1px solid #1a065e;
  height: 30px;
  overflow: hidden;
  background-color: #1a065e;
  margin-bottom: 10px;
}

.loginInput_field {
  font-family: 'Open Sans Light', sans-serif;
  font-size: 13px;
  text-align: left;
  border-left: 1px solid #1a065e;
  border-top: none;
  border-bottom: none;
  border-right: none;
  width: 250px;
  height: inherit;
  background-color: white;
  padding: 5px;
}

.login_enter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
}

.login_enter_btn {
  border-radius: 3px;
  height: 16px;
  width: 40px;
  color:white;
  background-color: #1a065e;
  text-align: center;
  padding: 2px;
}

.login_enter_btn:hover {
  color:#1a065e;
  background-color: rgb(217, 230, 245);
  border: 1px solid #1a065e;
  cursor: default;
  margin-top: -2px;
}

.loginInput_label {
  display: flex;
  align-items: center;
  width: 20px;
}

.loginInput_icon_mail {
  color: white;
  margin-left: 4px;
  font-size: 13px;
}

.loginInput_icon_pass {
  color: white;
  margin-left: 5px;
}
