/* You can add global styles to this file, and also import other style files */
/*body {
  font-family: 'Exo 2', sans-serif;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'PT Sans', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}*/
@font-face {
   font-family: Ubuntu;
   src: url('assets/fonts/Ubuntu/Ubuntu-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Open Sans';
   src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Open Sans Light';
   src: url('assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}

@font-face {
   font-family: 'Open Sans Bold';
   src: url('assets/fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
}

html, body, main {
    height: 100%;
}

.app_siteframe {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  /*justify-content: space-around;*/
  overflow: hidden;
}
