<div class="after_login_frame">
  <div class="inner_left_frame">
    <div class="service_menu_title">
      <div style="margin-left: 20px;">Main Menu</div>
    </div>
    <div class="service_main_menu">
      <div class="service_main_item menu_provisioning">
        <div class="service_main_item_top">
          <div class="menu_logo">
            <!-- <i class="fa fa-object-group" aria-hidden="true"></i> -->
            <!-- <i class="fa fa-flask" aria-hidden="true"></i> -->
            <img src="../../assets/entypo/entypo/lab-flask.svg" class="logo_entypo_style">
          </div>
          <div class="menu_title">
            Provisioning
          </div>
        </div>
        <div class="service_main_item_bottom">
          <p>
            Make the Design Request.
          </p>
        </div>
      </div>
      <div class="service_main_item menu_operation">
        <div class="service_main_item_top">
          <div class="menu_logo">
            <!-- <i class="fa fa-cogs" aria-hidden="true"></i> -->
            <img src="../../assets/entypo/entypo/tools.svg" class="logo_entypo_style">
          </div>
          <div class="menu_title">
            Operation
          </div>
        </div>
        <div class="service_main_item_bottom">
          <p>
            Make the Operation Request.
          </p>
        </div>
      </div>
      <div class="service_main_item menu_result">
        <div class="service_main_item_top">
          <div class="menu_logo">
            <!-- <i class="fa fa-clipboard" aria-hidden="true"></i> -->
            <img src="../../assets/entypo/entypo/eye.svg" class="logo_entypo_style">
            <!-- <img src="../../assets/entypo/entypo/thumbs-up.svg" width="55px" height="55px" style="margin-top: 10px;"> -->
          </div>
          <div class="menu_title">
            Confirm
          </div>
        </div>
        <div class="service_main_item_bottom">
          <p>
            Check the result of your Order.
          </p>
        </div>
      </div>
      <div class="service_main_item menu_resume">
        <div class="service_main_item_top">
          <div class="menu_logo">
            <!-- <i class="fa fa-clipboard" aria-hidden="true"></i> -->
            <img src="../../assets/entypo/entypo/retweet.svg" class="logo_entypo_style">
          </div>
          <div class="menu_title">
            Resume
          </div>
        </div>
        <div class="service_main_item_bottom">
          <p>
            Re-open your saved request.
          </p>
        </div>
      </div>
    </div>
    <div class="main_menu_info">
      <div class="main_menu_info_parts">
        <svr-doughnut-chart></svr-doughnut-chart>
      </div>
      <div class="main_menu_info_parts">
        ticket progress here
      </div>
    </div>
  </div>

  <div class="inner_right_frame">
    <div class="chart_parts">
      <svr-line-chart></svr-line-chart>
    </div>
    <div class="chart_parts">
      <svr-bar-chart></svr-bar-chart>
    </div>
  </div>

</div>
