/*@font-face {
   font-family: 'Open Sans';
   src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Open Sans Light';
   src: url('assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}*/

.after_login_frame {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-direction: column;
}

.service_main_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 930px;
  height: 180px;
  margin-top: -20px;
}

.menu_provisioning:hover {
  background-color: #f3f4eb;
  cursor: default;
}

.menu_operation:hover {
  background-color: #f3f4eb;
  cursor: default;
}

.menu_result:hover {
  background-color: #f3f4eb;
  cursor: default;
}

.menu_resume:hover {
  background-color: #f3f4eb;
  cursor: default;
}

.service_main_item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 225px;
  height: 120px;
  margin: 2px;
  padding: 0;
  border: 1px solid #bbc8cf;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
}

.service_main_item_top {
  font-family: Ubuntu;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 225px;
  height: 60px;
  margin-top: 15px;
}

.service_main_item_bottom {
  font-size: 13px;
  font-family: 'Open Sans';
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5px 5px 0px 10px;
  display: flex;
}

.menu_logo {
  font-size: 55px;
  margin: 0;
}

.menu_title {
  font-size: 25px;
}
