<div class="after_login_frame">
  <div class="service_main_menu">
    <div class="service_main_item menu_provisioning">
      <div class="service_main_item_top">
        <div class="menu_logo">
          <i class="fa fa-object-group" aria-hidden="true"></i>
        </div>
        <div class="menu_title">
          Provisioning
        </div>
      </div>
      <div class="service_main_item_bottom">
        <p>
          Do you want new servers ?
          Let's get started from fixing FQDN. Click me !
        </p>
      </div>
    </div>
    <div class="service_main_item menu_operation">
      <div class="service_main_item_top">
        <div class="menu_logo">
          <i class="fa fa-cogs" aria-hidden="true"></i>
        </div>
        <div class="menu_title">
          Operation
        </div>
      </div>
      <div class="service_main_item_bottom">
        <p>
          Do you want to do change configuration for existing Servers ?
          Please search your targets first. Click me !
        </p>
      </div>
    </div>
    <div class="service_main_item menu_resume">
      <div class="service_main_item_top">
        <div class="menu_logo">
          <i class="fa fa-clipboard" aria-hidden="true"></i>
        </div>
        <div class="menu_title">
          Resume
        </div>
      </div>
      <div class="service_main_item_bottom">
        <p>
          If you want to reopen your saved requests, Click me !
        </p>
      </div>
    </div>
  </div>
</div>
