/*@font-face {
   font-family: 'Open Sans';
   src: url('assets/fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
   font-family: 'Open Sans Light';
   src: url('assets/fonts/Open_Sans/OpenSans-Light.ttf') format('truetype');
}*/

.after_login_frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  flex-direction: row;
  width: 1400px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.inner_left_frame {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 870px;
  /*margin-top: 10px;*/
  margin-right: 5px;
  flex-flow: column;
}

.service_main_menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: inherit;
  margin-top: 10px;
}

.inner_right_frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 630px;
}

.main_menu_info {
  display: flex;
  border: 1px solid #d2ecf1;
  border-radius: 5px;
  height: 300px;
  width: inherit;
  margin-top: 10px;
  align-items: center;
  justify-content: space-between;
  font-family: Ubuntu;
  align-items: center;
}

.main_menu_info_parts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:430px;
  height: 300px;
  display: flex;
  margin: 5px
}

.menu_provisioning:hover {
  background-color: #f3f4eb;
  cursor: default;
}

.menu_operation:hover {
  background-color: #f3f4eb;
  cursor: default;
}

.menu_result:hover {
  background-color: #f3f4eb;
  cursor: default;
}

.menu_resume:hover {
  background-color: #f3f4eb;
  cursor: default;
}

.service_main_item {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 210px;
  height: 100px;
  margin: 2px;
  padding: 0;
  border: 1px solid #bbc8cf;
  border-radius: 5px;
  display: flex;
  align-items: flex-start;
}

.service_main_item_top {
  font-family: Ubuntu;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 175px;
  height: 50px;
  margin-top: 15px;
}

.service_main_item_bottom {
  font-size: 11px;
  font-family: 'Open Sans';
  align-items: flex-start;
  justify-content: flex-start;
  margin: 5px 5px 0px 10px;
  display: flex;
}

.menu_logo {
  font-size: 45px;
  margin: 0;
}

.logo_entypo_style {
  width: 35px;
  height: 35px;
  margin-top: 10px;
}

.menu_title {
  font-size: 21px;
}

.chart_parts {
  margin-top: 20px;
  padding: 1px;
}
