<div class="after_login_frame">
  <div class="service_main_menu">
    <div class="service_main_item menu_provisioning">
      <div class="service_main_item_top">
        <div class="menu_logo">
          <!-- <i class="fa fa-object-group" aria-hidden="true"></i> -->
          <!-- <i class="fa fa-flask" aria-hidden="true"></i> -->
          <img src="../../assets/entypo/entypo/lab-flask.svg" width="55px" height="55px" style="margin-top: 10px;">
        </div>
        <div class="menu_title">
          Provisioning
        </div>
      </div>
      <div class="service_main_item_bottom">
        <p>
          Design Request from here.
        </p>
      </div>
    </div>
    <div class="service_main_item menu_operation">
      <div class="service_main_item_top">
        <div class="menu_logo">
          <!-- <i class="fa fa-cogs" aria-hidden="true"></i> -->
          <img src="../../assets/entypo/entypo/tools.svg" width="55px" height="55px" style="margin-top: 10px;">
        </div>
        <div class="menu_title">
          Operation
        </div>
      </div>
      <div class="service_main_item_bottom">
        <p>
          Operation Request from here.
        </p>
      </div>
    </div>
    <div class="service_main_item menu_result">
      <div class="service_main_item_top">
        <div class="menu_logo">
          <!-- <i class="fa fa-clipboard" aria-hidden="true"></i> -->
          <img src="../../assets/entypo/entypo/eye.svg" width="55px" height="55px" style="margin-top: 10px;">
          <!-- <img src="../../assets/entypo/entypo/thumbs-up.svg" width="55px" height="55px" style="margin-top: 10px;"> -->
        </div>
        <div class="menu_title">
          Confirm
        </div>
      </div>
      <div class="service_main_item_bottom">
        <p>
          Check the result of your request.
        </p>
      </div>
    </div>
    <div class="service_main_item menu_resume">
      <div class="service_main_item_top">
        <div class="menu_logo">
          <!-- <i class="fa fa-clipboard" aria-hidden="true"></i> -->
          <img src="../../assets/entypo/entypo/retweet.svg" width="55px" height="55px" style="margin-top: 10px;">
        </div>
        <div class="menu_title">
          Resume
        </div>
      </div>
      <div class="service_main_item_bottom">
        <p>
          Re-open your saved request.
        </p>
      </div>
    </div>
  </div>

  <div class="canvas_frame">
    <svr-line-chart></svr-line-chart>
  </div>
</div>
